@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Palette+Mosaic&display=swap');

* {
    font-family: "montserrat";
    margin: 0;
    padding: 0;
}

body{
    background-image: url(/assets/images/background.jpeg);
}
#game-canvas{
    
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 700px;
    margin-top: 100px;
    background-color: rgba(250, 235, 215, 0.308);
}

h1{
    text-align: center;
    color: rgb(0, 0, 0);
   
    height: 100px;
    line-height: 100px;
    
}

#game-area{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas: "a b c"
                         "d d d"
                         "e f g"
                         "h i J";
    
    text-align: center;
    height: 500px;
    width: 800px;
    margin: 50px auto 0px auto;

}



.gameitem{
    
    font-size: 1.5rem;


}

.blink:hover{
    color: rgb(0, 255, 13);
}


#answer-alternatives{

    grid-area: d;
    display: flex;
    width: 100%;
}

.answer-buttons{
    width: 100%;

    font-size: 2rem;
    position: relative;
    justify-content: center;
    vertical-align: middle;
    padding-top: 4rem;
    
}




.icons{
    font-size: 5rem ;
}