* {
    margin: 0;
    padding: 0;
}

#game-canvas{
    
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 700px;
    margin-top: 100px;
}

h1{
    text-align: center;
    color: rgb(0, 0, 0);
   
    height: 100px;
    line-height: 100px;
    
}

#game-area{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas: "a b c"
                         "d d d"
                         "e f g"
                         "h i J";
    
    text-align: center;
    height: 500px;
    width: 800px;
    margin: 50px auto 0px auto;
}



.gameitem{
    
    font-size: 1rem;
    color: blueviolet;
    text-shadow: 0px 0px 20px white;
    background-color: aliceblue;
    border: 1px solid black;

}


#answer-alternatives{
    background-color: rgba(250, 235, 215, 0.486);
    color: white;
    grid-area: d;
    display: flex;
    width: 100%;
    

}

.answer-buttons{
    width: 50%;
    color: black;
    border: 1px solid black;
}

.answer-buttons p{
    color:brown;
}

#start-button{
    font-size: 5rem;
}

.note{
    font-size:5rem ;
}